{
    "main": {
    },
    "dpts": [
        {
            "title": "département info",
            "connection": {
                "winrmPort": 5986,
                "winrmHTTPS": true,
                "winrmInsecure": true,
                "winrmTimeout": 2,
                "winrmUser": "administrateur",
                "winrmPass": "mysecurepass",
                "sshTimeout": 2,
                "sshPort": 22,
                "sshUser": "root",
                "sshPem": "./id_rsa.pem",
                "linuxCommands": [
                    { "name": "", "command": "if [ -z $(cd /var/lib/ansible/local; git fetch origin ; git diff --name-only master origin/master | head -1;) ]; then echo \"\"; else echo \"A-\"; fi;" },
                    { "name": "", "command": "if [ -z $(grep -i \"failed=1\" /var/log/ansible-pull.log) ]; then echo \"\"; else echo \"A!\"; fi;" }
                ]
            },
            "machines": [
                { "name": "iutclinfa17", "nb": 1 },
                { "name": "iutclinfa10", "nb": 18 },
                { "name": "iutclinfa12", "nb": 10 },
                { "name": "iutclinfa18", "nb": 18 },
                { "name": "iutclinfa19", "nb": 10 },
                { "name": "iutclinfa23", "nb": 18 },
                { "name": "iutclinfb10", "nb": 9 },
                { "name": "iutclinfb12", "nb": 10 },
                { "name": "iutclinfb18", "nb": 10 },
                { "name": "iutclinfb19", "nb": 10 },
                { "name": "iutclinfb20", "nb": 10 },
                { "name": "iutclinfc21", "nb": 10 }
           ]
        },
        {
            "title": "département rt",
            "connection": {
                "winrmPort": 5986,
                "winrmHTTPS": true,
                "winrmInsecure": true,
                "winrmTimeout": 2,
                "winrmUser": "administrateur",
                "winrmPass": "mysecurepass",
                "sshTimeout": 2,
                "sshPort": 22,
                "sshUser": "root",
                "sshPem": "./id_rsa.pem",
                "linuxCommands": [
                ]
            },
            "machines": [
                { "name": "iutclrtc5", "nb": 15 },
                { "name": "iutclrtb3", "nb": 15 },
                { "name": "iutclrtb6", "nb": 15 },
                { "name": "iutclrtb8", "nb": 15 },
                { "name": "iutclrta15", "nb": 1 }
           ]
        }
    ]
}
