<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>goiutmap</title>
  
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body>

    <div id=content>

    <div id="title">IUT map</div>

    {{range .Dpts}}
    <div id="dpt">
        <div class="dname">{{.Title}}</div>
        <div id="rooms">
                {{range .Machines}}
                <div class="room" id="{{.Name}}">
                    <input id="nb{{.Name}}" type="hidden" value="{{.Nb}}"></input>

                    <div class="progress">
                        <div id="progress{{.Name}}" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{.Nb}}">0/{{.Nb}}</div>
                    </div>

                    <div class="room">
                        <span class="rname">{{.Name}}
                            <a title="reload" id="load{{.Name}}" onclick="loadRoom({{.Name}});">
                                <i class="fa fa-refresh reloader" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>

                    <div id="{{.Name}}children" class="machines">
                    </div>
                </div>
            {{end}}
        </div>
    </div>
    {{end}}

    <script>
    // HTML elements    
    var body = document.getElementById("content");
    var machines = document.getElementById("machines");

    // websocket
    if (window.WebSocket === undefined) {
        $("#content").append("your browser does not support WebSockets");
    } else {
        if (window.location.protocol == "https:") {
            wsproto = "wss";
        } else {
            wsproto = "ws";
        }
        url = wsproto + "://{{.Main.Address}}:{{.Main.Port}}/socket/";
        
        var wsock = new WebSocket(url);
        wsock.onopen = function(evt) {
            console.log("connected to web socket:" + url);
            {{range .Dpts}}
                {{range .Machines}}
                    loadRoom({{.Name}});
                {{end}}
            {{end}}
        };
        wsock.onclose = function(evt) {
            console.log("web socket closed");
        };
        wsock.onmessage = function(evt) {
             var json = JSON.parse(evt.data);
             var mtype = json.type;
             var mname = json.Mach.name;
             var mos = json.Mach.os;
             var mroom = json.Mach.room;
             //console.log(json);
             //console.log(mtype);
             //console.log(mname);
             //console.log(mos);
             //console.log(mroom);

             roomDiv = document.getElementById(mroom + "children");

             switch(mtype) {
                 case "machine":
                     switch(mos) {
                         case "windows":
                             el = createMachineElement(mname, mos);
                             roomDiv.appendChild(el);
                             fadeIn(el);
                             break;
                         case "linux":
                             el = createMachineElement(mname, mos);
                             roomDiv.appendChild(el);
                             fadeIn(el);
                             break;
                         case "unknown":
                             mos = "question-circle";
                             el = createMachineElement(mname, mos);
                             roomDiv.appendChild(el);
                             fadeIn(el);
                             break;
                         case "down":
                             mos = "ban";
                             el = createMachineElement(mname, mos);
                             roomDiv.appendChild(el);
                             fadeIn(el);
                             break;
                     }
                     updateProgress(mroom);
                     break;
             }
         };
    }

    // fade in function
    function fadeIn(el) {
      el.style.opacity = 0;
      var tick = function() {
        el.style.opacity = +el.style.opacity + 0.01;
        if (+el.style.opacity < 1) {
          (window.requestAnimationFrame && requestAnimationFrame(tick)) || setTimeout(tick, 16)
        }
      };
      tick();
    }
    // creates a machine div
    function createMachineElement(name, os) {
        var elem = document.createElement('div');
        elem.className = "machine";
        var mname = document.createElement('div');
        mname.className = "name";
        mname.innerHTML = name;
        var mos = document.createElement('i');
        mos.innerHTML = "&nbsp;";
        mos.className = "fa fa-" + os;

        elem.appendChild(mos);
        elem.appendChild(mname);
        return elem
    }
    function resetProgress(rname) { 
        var pelem = document.getElementById("progress" + rname);
        var nelem = document.getElementById("nb" + rname);
        // nb total machines for the room
        var tmach = parseInt(nelem.getAttribute("value"));

        pelem.setAttribute("aria-valuenow", 0);
        pelem.style.width = "0%";
        pelem.innerHTML = "0/" + tmach;
    }
    function updateProgress(rname) {
        var pelem = document.getElementById("progress" + rname);
        var nelem = document.getElementById("nb" + rname);
        // absolute number of machines processed
        var v1 = parseInt(pelem.getAttribute("aria-valuenow"));
        // nb total machines for the room
        var tmach = parseInt(nelem.getAttribute("value"));

        // show progress if hidden
        pelem.style.display = "";

        // new absolute number of machines
        vabs = v1 + 1;
        // percent number of machines
        vpercent = vabs * 100 / tmach;

        // update progress bar
        pelem.setAttribute("aria-valuenow", vabs);
        pelem.style.width = vpercent + "%";
        pelem.innerHTML = vabs + "/" + tmach;

        // hide when fihished
        if ( vabs == tmach) {
            pelem.style.display = "none";
        }
    }    
    function loadRoom(rname) {
        var roomDiv = document.getElementById(rname + "children");
        
        resetProgress(rname);
        roomDiv.innerHTML = "";

        // requesting the room machines
        wsock.send(JSON.stringify({ Name: rname }));
    };
    function eventFire(el, etype){
      if (el.fireEvent) {
        el.fireEvent('on' + etype);
      } else {
        var evObj = document.createEvent('Events');
        evObj.initEvent(etype, true, false);
        el.dispatchEvent(evObj);
      }
    }
    </script>
</body>
</html>
